# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool: aws-todoistclonedev-useast1-ubuntu

steps:
- task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: 'Resource Group'
    azureResourceManagerConnection: 'ARMPipeline-conn'
    subscriptionId: '3de95c80-2fcb-4898-8383-bd6ea88a226c'
    action: 'Create Or Update Resource Group'
    resourceGroupName: 'myResourceGroup'
    location: 'Central US'
    templateLocation: 'URL of the file'
    csmFileLink: "https://cs1100320030ed0305d.blob.core.windows.net/azure-deploy/azuredeploy.json?sp=r&st=2023-12-01T14:48:39Z&se=2023-12-01T22:48:39Z&spr=https&sv=2022-11-02&sr=b&sig=AhWlT4dJViAKM4BE5Ermfr0ltSxv80XZ7Gh7FLZ8b7o%3D"
    overrideParameters: '-projectName armTutorials'
    deploymentMode: 'Incremental'
    deploymentName: 'DeployPipelineTemplate'
